<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺管理-区域管理</title>
    <link href="../../style/common.css" rel="stylesheet" type="text/css">
    <link href="../../style/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../style/framework/storeControl/areaControl.css" rel="stylesheet" type="text/css">
    <script src="../../scripts/jquery.min.js"></script>
</head>
<body>
<!--区域管理-->
<div class="common-view">
    <!--标题-->
    <p class="common-title">店铺管理<span>&gt;</span>区域管理</p>

    <!--区域主题管理-->

    <div class="area">
        <p class="area-title">店铺运营区域</p>
        <div class="area-city fixed">
            <div class="area-master">
                <label><input type="checkbox" class="checkBoxs">北京</label>
            </div>
            <div class="area-branch">
                <label><input type="checkbox" class="checkBox">三里屯</label>
            </div>
        </div>
        <div class="area-city fixed">
            <div class="area-master">
                <label><input type="checkbox" class="checkBoxs">北京</label>
            </div>
            <div class="area-branch">
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
            </div>
        </div>
        <div class="area-city fixed">
            <div class="area-master">
                <label><input type="checkbox" class="checkBoxs">北京</label>
            </div>
            <div class="area-branch">
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
            </div>
        </div>
        <div class="area-city fixed">
            <div class="area-master">
                <label><input type="checkbox" class="checkBoxs">北京</label>
            </div>
            <div class="area-branch">
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
                <label><input type="checkbox" class="checkBox">三里屯</label>
            </div>
        </div>
        <div class="area-total">
            <label><input type="checkbox" class="checkBoxs">全选</label>
        </div>
        <a href="javascript:;" class="submit">提交</a>
    </div>

</div>
<!--/区域管理-->
</body>
</html>