<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运费模板-仓库管理</title>
    <link href="../../style/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../style/common.css" rel="stylesheet" type="text/css">
    <link href="../../style/framework/storeControl/warehouseControl.css" rel="stylesheet" type="text/css">
    <script src="../../scripts/jquery.min.js"></script>
    <script src="../../scripts/bootstrap.min.js"></script>
</head>
<body>
<!--仓库管理管理-->
<div class="common-view">
    <!--标题-->
    <p class="common-title">店铺管理<span>&gt;</span>仓库管理管理</p>

    <!--主体内容-->
    <div class="common-total">

        <!--供应商查询-->
        <div class="comments-query">
            <!--<p class="common-little-title">仓库列表</p>-->
            <div class="common-search-item">
                <div class="data-reset"><a href="javascript:;" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增仓库</a><a  data-toggle="modal" data-target="#delete"  href="javascript:;" class="btn btn-info "><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;删除</a></div>
            </div>
        </div>

        <!--仓库列表-->
        <div class="common-list">
            <div class="comments-list-neirong">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1"><input type="checkbox" class="checkBox"></th>
                        <th class="col-md-1">供应商名称</th>
                        <th class="col-md-2">商品货号前缀</th>
                        <th class="col-md-2">联系电话</th>
                        <th class="col-md-1">控制</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" class="checkBox"></td>
                        <td>汇银乐虎仓库</td>
                        <td>111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</td>
                        <td>18000000000</td>
                        <td><a href="javascript:;" class="common-btn"   data-toggle="modal" data-target="#changeModal">修改</a><a   data-toggle="modal" data-target="#delete"   href="javascript:;" class="common-btn">删除</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkBox"></td>
                        <td>汇银乐虎仓库</td>
                        <td>江苏省南京市江宁区天元东路28号莱茵量子国际大厦</td>
                        <td>18000000000</td>
                        <td><a href="javascript:;" class="common-btn"   data-toggle="modal" data-target="#changeModal">修改</a><a  data-toggle="modal" data-target="#delete"  href="javascript:;" class="common-btn">删除</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--分页器-->
            <div class="fixed">
                <div class="list-fenye">
                    <span>共100</span>
                    <span><em>1/5</em>页</span>
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                    <span>跳转到<input type="text"></span><a href="javascript:;" class="btn btn-primary">确定</a>
                </div>
            </div>
            <!--/分页器-->
        </div>
    </div>

    <!-- 新增仓库模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增仓库</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">仓库名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">仓库地址</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">联系电话</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 新增仓库模态框（Modal） -->

    <!-- 修改仓库模态框（Modal） -->
    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="changeLabel">修改仓库</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">仓库名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">仓库地址</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">联系电话</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 修改仓库模态框（Modal） -->

    <!--删除模态框（Modal） -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="LoginLogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="DeleteLabel">是否删除</h4>
                </div>
                <!--<div class="modal-body">-->

                <!--</div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modal-btn-primary">确认</button>
                    <button type="button" class="btn btn-default modal-btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!--删除模态框（Modal） -->

</div>
<!--/物流管理-->
</body>
</html>