/*iframe宽度限制*/

.Jurisdiction {
	width: auto;
	height: auto;
	min-width: 1100px;
	margin: 10px 20px;
}

.data-reset{ width: auto; height: auto; margin: 10px 20px }
/*新增按钮*/

.btn-info {
	display: none;
	width: 120px;
	height: 30px;
	line-height: 15px;
}
.btn-info span{
	 font-size: 14px;
	 margin-right: 5px;
}

.submit-active {
	background: #999999;
	padding: 6px 20px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}


.confirm {
	padding: 6px 20px;
	background: #5bc0de;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}

/*新增弹窗select*/

.radio-inline select {
	width: 220px;
}


/*修改模态框*/

#ResetModalLabel {
	text-align: center;
}


/*登录记录模态框*/

.modal-body table tr th,
.modal-body table tr td {
	text-align: center;
	border: none;
}