<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="../style/common.css" rel="stylesheet" type="text/css">
    <link href="../style/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../style/framework/resetpassword.css" rel="stylesheet" type="text/css">
    <script src="../scripts/jquery.min.js"></script>
</head>
<body>
<!--修改密码-->
<div class="common-view">
    <p class="common-title">修改密码</p>
    <div class="reset-tap">
        <div class="tap-ago"><label for="formal">原密码&nbsp;：</label><input type="text" id="formal"></div>
        <div class="tap-ago"><label for="now">新密码&nbsp;：</label><input type="text" id="now"></div>
        <div class="tap-ago"><label for="resetnow">重置新密码&nbsp;：</label><input type="text" id="resetnow"></div>
        <a href="javascript:;" class="submit">提交</a>
    </div>
</div>
<!--/修改密码-->
</body>
<script type="text/javascript">
    $(function () {
        $('.submit').click(function () {
            window.parent.location.href='../../src/login.html';
        });
    })
</script>
</html>